<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="xlsxPath" value="C:/Users/User/source/repos/Taxpayer-Alerter/TaxpayerAlerter/TaxpayerAlerter.DAL/Files/Для тестового.xlsx" />
		<add key="docPath" value="C:/Users/User/source/repos/Taxpayer-Alerter/TaxpayerAlerter/ProposalFiles"/>
	</appSettings>
</configuration>